.App {
  text-align: center;
  color: var(--text-primary);
  background-color: var(--background);
  transition: all 0.2s;
  width: 100vw;
  height: 100vh;
}

.results-list {
  display: flex;
  flex-direction: row;
}
